
<!DOCTYPE html>
<html>
<body>
<div id="main" style="width: 600px;height: 400px"></div>
<script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{{ url_for('static', filename='t_mysql.js') }}"></script>
<script type="text/javascript">

    var myChart=echarts.init(document.getElementById("main"));
    alert('222')
    $.ajax({
    url: "test",
    type: "POST",
    dataType: "json",
    success: function (data) {
        console.log(data)
    }
    })

</script>

</body>
</html>
