<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bsyd.js') }}"></script>
</head>

<body>

<div>月度

  <select id="year_data">
      <option value="1" class="active">3月</option>
      <option value="2">4月</option>

  </select>
</div>
    <div id="chart_box" style="width: 1250px;height:550px;margin:0 auto;"></div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
<script src="{{ url_for('static', filename='bsyd.js') }}"></script>
<script type="text/javascript">

    $(function(){//使用on进行事件绑定事件。
        mychart1('year1');
        alert("545")
        $("select").on('click',function(){
            if($("select").val()==1){
            mychart1('year1');
            }
            else if($("select").val()==2){
                // mychart1.clear();
            mychart1('year2');
            }
                })  ;
        $("#time_sec").on('click',function(){
            //alert('请求时间段的数据');

            myChart1.clear();            //清空原来的图表
            mychart1('time_sec');   //重新加载图表，之前必须要清空原来的，否则没有动画效果
        });
    });
    <!--alert("123")-->
  </script>

</body>
</html>
